#error{class:'alert alert-danger', role:'alert', style:'display:none'}

#product-form
    %form{id:'edit-product-form', action:'/editUserProduct', method:'post', 'data-remote' => 'true'}
        %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
        %div{class:'form-group row'}
            %label{for:'Name', class:'col-sm-3 col-form-label'}='Nazwa produktu'
            %div{class:'col-sm-9'}
                %input{name:'Name', type:'text', class:'form-control form-control-sm form-control form-control-sm-obligatory', placeholder:@product.productName}
                #nameHelp{class:'form-text text-muted'}='Pole obowiązkowe.'
                %input{type:'hidden',value:@product.productid, name:'product'}
        %div{class:'row'}
            %div{class:'form-group row col-sm'}
                %label{for:'Calories', class:'col-sm col-form-label'}='Kalorie'
                %div{class:'col-sm'}
                    %input{name:'Calories', type:'text', class:'form-control form-control-sm form-control form-control-sm-obligatory', placeholder:@product.productCalories}
                    #kcalHelp{class:'form-text text-muted'}='Pole obowiązkowe.'
            %div{class:'form-group row col-sm'}
                %label{for:'Protein', class:'col-sm col-form-label'}='Białko'
                %div{class:'col-sm'}
                    %input{name:'Protein', type:'text', class:'form-control form-control-sm', placeholder:@product.productProtein} 
            %div{class:'form-group row no-gutters col-sm'}
                %label{for:'Carbs', class:'col-sm col-form-label'}='Węglowodany'
                %div{class:'col-sm'}
                    %input{name:'Carbs', type:'text', class:'form-control form-control-sm', placeholder:@product.productCarbs} 
            %div{class:'form-group row col-sm'}
                %label{for:'Fat', class:'col-sm col-form-label'}='Tłuszcz'
                %div{class:'col-sm'}
                    %input{name:'Fat', type:'text', class:'form-control form-control-sm', placeholder:@product.productFat} 
        %div{class:'row'}
            %div{class:'col-sm'}
                %div{class:'form-group row'}
                    %label{for:'Sugars', class:'col-sm col-form-label'}='Cukry'
                    %div{class:'col-sm'}
                        %input{name:'Sugars', type:'text', class:'form-control form-control-sm', placeholder:@product.productSugars} 
                %div{class:'form-group row'}
                    %label{for:'Fiber', class:'col-sm col-form-label'}='Błonnik'
                    %div{class:'col-sm'}
                        %input{name:'Fiber', type:'text', class:'form-control form-control-sm', placeholder:@product.productFiber} 
                %div{class:'form-group row'}
                    %label{for:'Omega3', class:'col-sm col-form-label'}='Tłuszcz typu omega-3'
                    %div{class:'col-sm'}
                        %input{name:'Omega3', type:'text', class:'form-control form-control-sm', placeholder:@product.productOmega3} 
                %div{class:'form-group row'}
                    %label{for:'ALA', class:'col-sm col-form-label'}='Tłuszcz typu ALA'
                    %div{class:'col-sm'}
                        %input{name:'ALA', type:'text', class:'form-control form-control-sm', placeholder:@product.productALA} 
                %div{class:'form-group row'}
                    %label{for:'SFA', class:'col-sm col-form-label'}='Tłuszcze nasycone'
                    %div{class:'col-sm'}
                        %input{name:'SFA', type:'text', class:'form-control form-control-sm', placeholder:@product.productSFA} 
                %div{class:'form-group row'}
                    %label{for:'WNKT', class:'col-sm col-form-label'}='Tłuszcze wielonienasycone'
                    %div{class:'col-sm'}
                        %input{name:'WNKT', type:'text', class:'form-control form-control-sm', placeholder:@product.productWNKT} 
                %div{class:'form-group row'}
                    %label{for:'Trans', class:'col-sm col-form-label'}='Tłuszcze typu trans'
                    %div{class:'col-sm'}
                        %input{name:'Trans', type:'text', class:'form-control form-control-sm', placeholder:@product.productTrans} 
                %div{class:'form-group row'}
                    %label{for:'Cholesterol', class:'col-sm col-form-label'}='Cholesterol'
                    %div{class:'col-sm'}
                        %input{name:'Cholesterol', type:'text', class:'form-control form-control-sm', placeholder:@product.productCholesterol} 
            %div{class:'col-sm'}
                %div{class:'form-group row'}
                    %label{for:'Valine', class:'col-sm col-form-label'}='Walina'
                    %div{class:'col-sm'}
                        %input{name:'Valine', type:'text', class:'form-control form-control-sm', placeholder:@product.productValine} 
                %div{class:'form-group row'}
                    %label{for:'Isoleucine', class:'col-sm col-form-label'}='Izoleucyna'
                    %div{class:'col-sm'}
                        %input{name:'Isoleucine', type:'text', class:'form-control form-control-sm', placeholder:@product.productIsoleucine} 
                %div{class:'form-group row'}
                    %label{for:'Leucine', class:'col-sm col-form-label'}='Leucyna'
                    %div{class:'col-sm'}
                        %input{name:'Leucine', type:'text', class:'form-control form-control-sm', placeholder:@product.productLeucine} 
                %div{class:'form-group row'}
                    %label{for:'Lysine', class:'col-sm col-form-label'}='Lizyna'
                    %div{class:'col-sm'}
                        %input{name:'Lysine', type:'text', class:'form-control form-control-sm', placeholder:@product.productLysine} 
                %div{class:'form-group row'}
                    %label{for:'Methionine', class:'col-sm col-form-label'}='Metionina'
                    %div{class:'col-sm'}
                        %input{name:'Methionine', type:'text', class:'form-control form-control-sm', placeholder:@product.productMethionine} 
                %div{class:'form-group row'}
                    %label{for:'Threonine', class:'col-sm col-form-label'}='Treonina'
                    %div{class:'col-sm'}
                        %input{name:'Threonine', type:'text', class:'form-control form-control-sm', placeholder:@product.productThreonine} 
                %div{class:'form-group row'}
                    %label{for:'Tryptophan', class:'col-sm col-form-label'}='Tryptofan'
                    %div{class:'col-sm'}
                        %input{name:'Tryptophan', type:'text', class:'form-control form-control-sm', placeholder:@product.productTryptophan} 
                %div{class:'form-group row'}
                    %label{for:'Phenylalanine', class:'col-sm col-form-label'}='Fenyloalanina'
                    %div{class:'col-sm'}
                        %input{name:'Phenylalanine', type:'text', class:'form-control form-control-sm', placeholder:@product.productPhenylalanine} 
            %div{class:'col-sm'}
                %div{class:'form-group row'}
                    %label{for:'VitA', class:'col-sm col-form-label'}='Witamina A'
                    %div{class:'col-sm'}
                        %input{name:'VitA', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitA} 
                %div{class:'form-group row'}
                    %label{for:'VitB1', class:'col-sm col-form-label'}='Witamina B1'
                    %div{class:'col-sm'}
                        %input{name:'VitB1', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitB1} 
                %div{class:'form-group row'}
                    %label{for:'VitB2', class:'col-sm col-form-label'}='Witamina B2'
                    %div{class:'col-sm'}
                        %input{name:'VitB2', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitB2} 
                %div{class:'form-group row'}
                    %label{for:'VitB3', class:'col-sm col-form-label'}='Witamina B3'
                    %div{class:'col-sm'}
                        %input{name:'VitB3', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitB3} 
                %div{class:'form-group row'}
                    %label{for:'VitB4', class:'col-sm col-form-label'}='Witamina B4'
                    %div{class:'col-sm'}
                        %input{name:'VitB4', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitB4} 
                %div{class:'form-group row'}
                    %label{for:'VitB5', class:'col-sm col-form-label'}='Witamina B5'
                    %div{class:'col-sm'}
                        %input{name:'VitB5', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitB5} 
                %div{class:'form-group row'}
                    %label{for:'VitB6', class:'col-sm col-form-label'}='Witamina B6'
                    %div{class:'col-sm'}
                        %input{name:'VitB6', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitB6} 
                %div{class:'form-group row'}
                    %label{for:'VitB9', class:'col-sm col-form-label'}='Witamina B9'
                    %div{class:'col-sm'}
                        %input{name:'VitB9', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitB9} 
                %div{class:'form-group row'}
                    %label{for:'VitB12', class:'col-sm col-form-label'}='Witamina B12'
                    %div{class:'col-sm'}
                        %input{name:'VitB12', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitB12} 
                %div{class:'form-group row'}
                    %label{for:'VitC', class:'col-sm col-form-label'}='Witamina C'
                    %div{class:'col-sm'}
                        %input{name:'VitC', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitC} 
                %div{class:'form-group row'}
                    %label{for:'VitD', class:'col-sm col-form-label'}='Witamina D'
                    %div{class:'col-sm'}
                        %input{name:'VitD', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitD} 
                %div{class:'form-group row'}
                    %label{for:'VitE', class:'col-sm col-form-label'}='Witamina E'
                    %div{class:'col-sm'}
                        %input{name:'VitE', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitE} 
                %div{class:'form-group row'}
                    %label{for:'VitH', class:'col-sm col-form-label'}='Witamina H'
                    %div{class:'col-sm'}
                        %input{name:'VitH', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitH} 
                %div{class:'form-group row'}
                    %label{for:'VitK', class:'col-sm col-form-label'}='Witamina K'
                    %div{class:'col-sm'}
                        %input{name:'VitK', type:'text', class:'form-control form-control-sm', placeholder:@product.productVitK} 
            %div{class:'col-sm'}
                %div{class:'form-group row'}
                    %label{for:'Cl', class:'col-sm col-form-label'}='Chlor'
                    %div{class:'col-sm'}
                        %input{name:'Cl', type:'text', class:'form-control form-control-sm', placeholder:@product.productCl} 
                %div{class:'form-group row'}
                    %label{for:'Zn', class:'col-sm col-form-label'}='Cynk'
                    %div{class:'col-sm'}
                        %input{name:'Zn', type:'text', class:'form-control form-control-sm', placeholder:@product.productZn} 
                %div{class:'form-group row'}
                    %label{for:'F', class:'col-sm col-form-label'}='Fluor'
                    %div{class:'col-sm'}
                        %input{name:'F', type:'text', class:'form-control form-control-sm', placeholder:@product.productF} 
                %div{class:'form-group row'}
                    %label{for:'P', class:'col-sm col-form-label'}='Fosfor'
                    %div{class:'col-sm'}
                        %input{name:'P', type:'text', class:'form-control form-control-sm', placeholder:@product.productP} 
                %div{class:'form-group row'}
                    %label{for:'I', class:'col-sm col-form-label'}='Jod'
                    %div{class:'col-sm'}
                        %input{name:'I', type:'text', class:'form-control form-control-sm', placeholder:@product.productI} 
                %div{class:'form-group row'}
                    %label{for:'Mg', class:'col-sm col-form-label'}='Magnez'
                    %div{class:'col-sm'}
                        %input{name:'Mg', type:'text', class:'form-control form-control-sm', placeholder:@product.productMg} 
                %div{class:'form-group row'}
                    %label{for:'Cu', class:'col-sm col-form-label'}='Miedź'
                    %div{class:'col-sm'}
                        %input{name:'Cu', type:'text', class:'form-control form-control-sm', placeholder:@product.productCu} 
                %div{class:'form-group row'}
                    %label{for:'K', class:'col-sm col-form-label'}='Potas'
                    %div{class:'col-sm'}
                        %input{name:'K', type:'text', class:'form-control form-control-sm', placeholder:@product.productK} 
                %div{class:'form-group row'}
                    %label{for:'Se', class:'col-sm col-form-label'}='Selen'
                    %div{class:'col-sm'}
                        %input{name:'Se', type:'text', class:'form-control form-control-sm', placeholder:@product.productSe} 
                %div{class:'form-group row'}
                    %label{for:'Na', class:'col-sm col-form-label'}='Sód'
                    %div{class:'col-sm'}
                        %input{name:'Na', type:'text', class:'form-control form-control-sm', placeholder:@product.productNa} 
                %div{class:'form-group row'}
                    %label{for:'Ca', class:'col-sm col-form-label'}='Wapń'
                    %div{class:'col-sm'}
                        %input{name:'Ca', type:'text', class:'form-control form-control-sm', placeholder:@product.productCa} 
                %div{class:'form-group row'}
                    %label{for:'Fe', class:'col-sm col-form-label'}='Żelazo'
                    %div{class:'col-sm'}
                        %input{name:'Fe', type:'text', class:'form-control form-control-sm', placeholder:@product.productFe} 
        %div{class:'form-check'}
            %input{type:'checkbox', class:'form-check-input', id:'defaultWeight', name:'defaultWeight', checked:'true'}
            %label{class:'form-check-label', for:'defaultWeight'}='Dane dla 100 g produktu?'
        %div{class:'form-group row', id:'alternativeWeight', style:'display:none'}
            %label{for:'weight', class:'col-sm col-form-label'}='Waga dla której podano informacje'
            %div{class:'col-sm'}
                %input{name:'weight', type:'text', class:'form-control form-control-sm'} 
        %div
            %input{class: 'btn-form', type:'submit', value:'Zapisz'}


%script
    $('#defaultWeight').change(function(){
    if(!$('#defaultWeight').is(':checked'))
    $('#alternativeWeight').css('display','inline');
    else
    $('#alternativeWeight').css('display','none');
    });
    $(document).off('ajax:success').on('ajax:success',function(event){
    var xhr = event.detail[2];
    if(xhr.responseText.search('modal')<0 && xhr.responseText.search('Cache')<0){
    $("#error").html(xhr.responseText);
    $("#error").css("display","block");
    $("#success").css("display","none");
    }    
    });