=@product.productName 
=@product.productCalories 
=@product.productProtein 
=@product.productCarbs
=@product.productFat
=@product.productSugars
=@product.productFiber 
=@product.productOmega3 
=@product.productALA 
=@product.productSFA 
=@product.productWNKT 
=@product.productTrans 
=@product.productCholesterol
=@product.productValine 
=@product.productIsoleucine
=@product.productLeucine 
=@product.productLysine 
=@product.productMethionine 
=@product.productThreonine 
=@product.productTryptophan 
=@product.productPhenylalanine 
=@product.productVitA
=@product.productVitB1
=@product.productVitB2 
=@product.productVitB3 
=@product.productVitB4 
=@product.productVitB5 
=@product.productVitB6 
=@product.productVitB9 
=@product.productVitB12 
=@product.productVitC
=@product.productVitD 
=@product.productVitE
=@product.productVitH 
=@product.productVitK 
=@product.productCl
=@product.productZn
=@product.productF 
=@product.productP 
=@product.productI
=@product.productMg
=@product.productCu 
=@product.productK
=@product.productSe
=@product.productNa
=@product.productCa
=@product.productFe