#error{class:'alert alert-danger', role:'alert', style:'display:none'}

- if @recipe
    %h5{class:'modal-inside-header'}=@recipe.Name

    %form{id:'add-products-to-recipe-form', action:'/addProductsToRecipe', method:'post', 'data-remote' => 'true'}
        %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
        %div{class:'form-group row'}
            %input{type:'hidden',name:'recipe',value: @recipe.id}
        #add-ingredients
            %div{id:'ingredient'}
                %div{class:'form-group row'}
                    %label{for:'product', class:'col-sm-2 col-form-label'}='Składnik'
                    %input{class:'form-control col-sm-9 product', type:'text', for:'product', id:'product', name:'product[]'}
        %div{class:'col-5'}
        %input{class:'btn-form col-3', type:'submit', value:'Zapisz'}

    %button{class:'btn col-2 fas fa-plus-square btn-add', style:'margin-top:15px'}        


    %script
        $(function() {
        var productList = #{raw(@productList.map{|z|z.Name})};  
        $(".product").autocomplete({
        source: productList,
        appendTo: '#add-products-to-recipe-form'
        });
        });
        $(".btn-add").click(function(){
        var productList = #{raw(@productList.map{|z|z.Name})};
        $("#add-ingredients").append($("#ingredient").clone().html());
        $(".product").autocomplete({
        source: productList,
        appendTo: '#add-products-to-recipe-form'
        });
        });
    

