#error{class:'alert alert-danger', role:'alert', style:'display:none'}

%form{id:'data-form', action:'/addRecipe', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
    %div{class:'form-group row'}
        %label{for:'name', class:'col-sm-4 col-form-label'}='Nazwa przepisu'
        %div{class:'col-sm-8'}
            %input{name:'name', type:'text', class:'form-control form-control-obligatory'}
            #nameHelp{class:'form-text text-muted'}='Pole obowiązkowe.'
    %div{class:'form-check'}
        %input{type:'checkbox', class:'form-check-input', id:'goToProducts', checked:'true'}
        %label{class:'form-check-label', for:'goToProducts'}='Czy chcesz dodać produkty?'
        
    %div
        %input{class: 'btn-form', type:'submit', value:'Zapisz'}