#error{class:'alert alert-danger', role:'alert', style:'display:none'}

%form{id:'complete-recipe-form', action:'/weightProducts', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
    %div{class:'form-group row'}
        %label{for:'recipe-name', class:'col-sm-4 col-form-label'}=@recipe.Name
        %input{name:'recipe', type:'hidden', value:@recipe.id}
    - @productList.each do |product|
        %div{class:'form-group row'}
            %label{for:'ingredient', class:'col-sm-4 col-form-label'}=product.Name
            %div{class:'col-sm-8'}
                %input{name:'ingredientWeight', type:'text', class:'form-control', placeholder:@productWeightList[product.id]}
                %input{name:'ingredientID', type:'hidden', value:product.id}
    %div{class:'form-check'}
        %input{type:'checkbox', class:'form-check-input', id:'goToPortioning', checked:'true'}
        %label{class:'form-check-label', for:'goToPortioning'}='Czy chcesz od razu porcjować lub zważyć?'
        
    %div{class:'form-group row'}
        %input{class: 'btn-form', type:'submit', value:'Zapisz'}

%script
    $(document).off('ajax:success').on('ajax:success',function(event){
    var xhr = event.detail[2];
    if(xhr.responseText == "success"){
    $("#success").css("display","block");
    $("#error").css("display","none");
    }
    else if(xhr.responseText == "error"){
    $("#error").css("display","block");
    $("#success").css("display","none");
    }
    else if(xhr.responseText == "Go to portioning"){
    $("#modal-holder").html("#{ escape_javascript(render 'modal/modal') }");
    $("#modal-title").html('Wybierz sposób pomiaru potrawy');
    $("#modal-body").html("#{ escape_javascript(render 'recipes/measure_recipe') }");
    $(".modal").modal('show');    
    $(".btn-close").click(function () {
    if(confirm("Czy na pewno chcesz zamknąć to okno?"))
    $(".modal").modal('hide');
    });
    });
 
