#error{class:'alert alert-danger', role:'alert', style:'display:none'}
#success{class:'alert alert-success', role:'alert', style:'display:none'}

#modal-holder

%form{id:'edit-recipe-form', action:'/editRecipe', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
    %div{class:'form-group row'}
        %label{for:'Name', class:'col-sm-4 col-form-label'}='Nazwa przepisu'
        %div{class:'col-sm-8'}
            %input{name:'Name', type:'text', class:'form-control form-control-obligatory', placeholder:@recipe.Name}
            %input{type:'hidden',name:'recipe',value:@recipe.id}
    %div{class:'row'}
        %div{class:'col-sm', style:'float:left;margin-top:28px'}
            = link_to 'Dodaj składniki', modal_path(body: 'recipes/add_products', title: 'Dodaj składniki przepisu', recipe:@recipe.id), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'btn-form link-adjustements'
        %div{class:'col-sm'}
            %input{class: 'btn-form', type:'submit', value:'Zapisz zmianę'}

- if @productList.present?

    #ingredients
        %table{class:'table'}
            - @productList.each do |product|
                %tr
                    %td=product[1]
                    %td
                        = link_to '', delete_product_from_recipe_path(recipe: @recipe.id, product: product[0]),  remote: true, class: 'fas fa-times btn-delete deleteI'




%script
    $(document).ready(function (){
    $(".deleteI").click(function () {
    if(!confirm("Czy na pewno chcesz usunąć ten składnik?"))
    return false;
    });
    });
    $(document).off('ajax:success').on('ajax:success',function(event){
    var xhr = event.detail[2];
    if(xhr.responseText == "Ingredient deleted."){

    $.ajax({
    url: '/modal/modal?body=recipes%2Fedit&recipe='+#{@recipe.id}+'&title=Edytuj+przepis',  dataType: 'json',
    success: function() { },
    error: function(data) {
    $('.modal-backdrop').remove();
    eval(data.responseText);
    }
    });

    $("#success").html("Składnik został usunięty")
    $("#success").css("display","block");
    $("#error").css("display","none");
    }
    else if(xhr.responseText == "Edited name"){
    $("#success").html("Nazwa przepisu została zmieniona")
    $("#success").css("display","block");
    $("#error").css("display","none");
    }
    else if(xhr.responseText.search('modal')<0 && xhr.responseText.search('Cache')<0){
    $("#error").html(xhr.responseText);
    $("#error").css("display","block");
    $("#success").css("display","none");
    }
    });
