#error{class:'alert alert-danger', role:'alert', style:'display:none'}

- @idr = ''

- if params['recipe'].present?
    - @idr = params['recipe']
    - else @idr = @recipe.id

%form{id:'measure-recipe-form', action:'/measureRecipe', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
    %div{class:'form-group row'}
        %input{name:'recipe', type:'hidden', value:@idr}
    %div{class:'form-group row'}
        %div{class:'form-check form-check-inline'}
            %input{class:'form-check-input', type:'radio', name:'howToMeasure', id:'weight', value:'weight'}
            %label{class:'form-check-label', for:'weight'}
                %i{class:'fas fa-balance-scale fa-big'}
        %div{class:'form-check form-check-inline'}
            %input{class:'form-check-input', type:'radio', name:'howToMeasure', id:'portions', value:'portions'}
            %label{class:'form-check-label', for:'portions'}
                %i{class:'fas fa-cheese fa-big'}
    %div{class:'form-group row'}
            %input{name:'measurement', type:'text', class:'form-control'} 

    %div{class:'form-group row'}
        %input{class: 'btn-form', type:'submit', value:'Zapisz'}
