#error{class:'alert alert-danger', role:'alert', style:'display:none'}
    
%form{id:'modify-requisition-form', action:'/modifyRequisition', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
    %div{class:'form-group row centered-for-flex'}
        %label{for:'calories', class:'col-sm-5 form-label'}='Docelowa kaloryczność'
        %div{class:'col-sm-4'}
            %input{name:'calories', type:'text', class:'form-control', placeholder:'2000'}
        = ' kcal'
    %div
        %input{class: 'btn-form', type:'submit', value:'Zapisz'}
