#success{class:'alert alert-success', role:'alert', style:'display:none'}='Dane zostały zapisane.'
#error{class:'alert alert-danger', role:'alert', style:'display:none'}
    
%form{id:'data-form', action:'/target', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
        %select{class:'form-control form-control-sm', name:'target'}
            %option{hover:'backgroud:#068506 !important', value:'0'}=''
            %option{focus:'backgroud:#068506 !important', value:'1'}='Chcę schudnąć'
            %option{active:'backgroud:#068506 !important', value:'2'}='Chcę utrzymać wagę'
            %option{style:'backgroud:#068506 !important',value:'3'}='Chcę przytyć'
    %div
        %input{class: 'btn-form', type:'submit', value:'Zapisz'}


