#error{class:'alert alert-danger', role:'alert', style:'display:none'}='Wystąpił błąd. Spróbuj ponownie za  chwilę.'

%div{style: 'display: none'}
    = link_to '', modal_path(body: 'meals/how_to_add', title: 'Wybierz sposób dodania posiłku'), id:'chHow'

%form{id:'meal-form', action:'/addMeal', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
    %div{class:'form-group row'}
        %label{for:'date', class:'col-sm-4 col-form-label'}='Data'
        %div{class:'col-sm-8'}
            %input{name:'date', type:'date', class:'form-control'}
    %div{class:'form-group row'}
        %label{class:'col-sm-4 col-form-label', for:'time'}='Godzina'
        %div{class:'col-sm-8'}
            %input{name:'time', type:'time', class:'form-control'}
    %div{class:'form-group row'}
        %label{class:'col-sm-4 col-form-label', for:'meal'}='Wybierz posiłek: '
        %select{class:'form-control form-control-obligatory form-control-sm col-8', name:'meal'}
            %option{hover:'backgroud:#068506 !important', value:'0'}=''
            - @meal.each do |meal|
                %option{hover:'backgroud:#068506 !important', value:meal.id}=meal.Name

    %div
        %input{class: 'btn-form', type:'submit', value:'Zapisz'}

%script
    $(document).off('ajax:success').on('ajax:success',function(event){
    var xhr = event.detail[2];
    if(xhr.responseText == "Choose how"){
    $.ajax({
    url: $('#chHow').attr('href'),  dataType: 'json',
    success: function() {  },
    error: function(data) {
    $('.modal-backdrop').remove();
    eval(data.responseText);
    }
    });
    }
    else if(xhr.responseText == "error"){
    $("#error").css("display","block");
    $("#success").css("display","none");
    }
    else if(xhr.responseText.search('modal')<0 && xhr.responseText.search('Cache')<0){
    $("#error").html(xhr.responseText);
    $("#error").css("display","block");
    $("#success").css("display","none");
    }
    });