- if !@availableRecipes.present?
    #norecipes{class:'alert alert-danger', role:'alert'}='W tym momencie nie masz masz żadnej potrawy przygotowanej.'

#error{class:'alert alert-danger', role:'alert', style:'display:none'}='Wystąpił błąd. Spróbuj ponownie za  chwilę.'

%form{id:'add-meal-form', action:'/addRecipeToMeal', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
    %div{class:'form-group row'}
        %label{for:'recipe', class:'col-sm-4 col-form-label'}='Wybierz potrawę'
        %div{class:'col-sm-8'}
            %select{class:'form-control form-control-obligatory form-control-sm', name:'meal'}
                - @availableRecipes.each do |recipe|
                    %option{hover:'backgroud:#068506 !important', value:recipe.id}=@recipes.find{|r|r.id == recipe.IDR}.Name
    %div{class:'form-group row'}
        %label{class:'col-sm-4 col-form-label', for:'portion'}='Wprowadź wagę lub liczbę porcji'
        %div{class:'col-sm-8'}
            %input{name:'portion', type:'text', class:'form-control form-control-obligatory'}
            #nameHelp{class:'form-text text-muted'}='Pole obowiązkowe.'
    %div
        %input{class: 'btn-form', type:'submit', value:'Zapisz'}

%script
    $(document).off('ajax:success').on('ajax:success',function(event){
    var xhr = event.detail[2];
    if(xhr.responseText == "error"){
    $("#error").css("display","block");
    $("#success").css("display","none");
    }
    else if(xhr.responseText.search('modal')<0 && xhr.responseText.search('Cache')<0){
    $("#error").html(xhr.responseText);
    $("#error").css("display","block");
    $("#success").css("display","none");
    }    
    });