#error{class:'alert alert-danger', role:'alert', style:'display:none'}

%form{id:'decompose-form', action:'/decompose', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
    %div{class:'form-group row'}
        - if @decomposable.present?
            %label{for:'customProduct', class:'col-sm-4 col-form-label'}=@decomposable.name
            %input{type:'hidden',name:'customProduct',value:@decomposable.id}
    #ingredient
        %div{class:'form-group row',id:'products'}
            %label{for:'product', class:'col-sm-4 col-form-label'}='Wybierz produkt'
            %input{class:'form-control', type:'text', for:'product', id:'product', name:'product'}
        %div{class:'form-group row',id:'weight'}
            %label{for:'weight', class:'col-sm-4 col-form-label'}='Waga'
            %input{class:'form-control', for:'weight', id:'weight', name:'weight'}
    %div
        %button{class:'btn-add'}
            %i{class:'fas fa-plus-square'}
        %input{class: 'btn-form', type:'submit', value:'Zapisz'}


%script
    $(function() {
    $("#product").autocomplete({
    source: function(request, response) {
    var productList = [
    - if @products.present?
        -@products.each do |product|
            ="{name:'#{product.Name}',value:'#{product.id}'},"
    ];
    response(productList);
    },
    select: function( event, ui ) {
    $( "#product" ).val( ui.item.id);
    return false;
    }
    });
    });
    $(".btn-add").click(function(){
    $("#decompose-form").append($("#ingredient").clone().html());
    });