%div{class:'row'}
    %div{class:''}
        = link_to 'Dodaj jednarazowo', modal_path(body: 'meals/add_custom', title: 'Wprowadź dane produktu'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'btn-form'    
    %div{class:''}
        = link_to 'Dodaj na stałe do bazy', modal_path(body: 'user_products/add', title: 'Wprowadź dane produktu', comeback: 'true'), remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-holder', class:'btn-form'    
