%table{class:'table table-sm'}        
    %tr
        %td='Witamina A(RAE): '
        %td=@a_sum
        %td= raw('&#181;g')    
    %tr
        %td='Witamina B1: '
        %td=@b1_sum
        %td=' mg'    
    %tr
        %td='Witamina B2: '
        %td=@b2_sum
        %td=' mg'    
    %tr
        %td='Witamina B3: '
        %td=@b3_sum
        %td=' mg'    
    %tr
        %td='Witamina B4: '
        %td=@b4_sum
        %td=' mg'    
    %tr
        %td='Witamina B5: '
        %td=@b5_sum
        %td=' mg'    
    %tr
        %td='Witamina B6: '
        %td=@b6_sum
        %td=' mg'    
    %tr
        %td='Witamina B9: '
        %td=@b9_sum
        %td=raw('&#181;g')    
    %tr
        %td='Witamina B12: '
        %td=@b12_sum
        %td=raw('&#181;g')
    %tr
        %td='Witamina C: '
        %td=@c_sum
        %td=' mg'
    %tr
        %td='Witamina D: '
        %td=@d_sum
        %td=raw('&#181;g')
    %tr
        %td='Witamina E: '
        %td=@e_sum
        %td=' mg'
    %tr
        %td='Witamina H: '
        %td=@h_sum
        %td=raw('&#181;g')
    %tr
        %td='Witamina K: '
        %td=@vitk_sum
        %td=raw('&#181;g')
    %tr
        %td='Chlor: '
        %td=@cl_sum
        %td=' mg'
    %tr
        %td='Cynk: '
        %td=@zn_sum
        %td=' mg'
    %tr
        %td='Fluor: '
        %td=@f_sum
        %td=raw('&#181;g')
    %tr
        %td='Fosfor: '
        %td=@p_sum
        %td=' mg'
    %tr
        %td='Jod: '
        %td=@i_sum
        %td=raw('&#181;g')
    %tr
        %td='Magnez: '
        %td=@mg_sum
        %td=' mg'
    %tr
        %td='Miedź: '
        %td=@cu_sum
        %td=' mg'
    %tr
        %td='Potas: '
        %td=@k_sum
        %td=' mg'
    %tr
        %td='Selen: '
        %td=@se_sum
        %td=raw('&#181;g')
    %tr
        %td='Sód: '
        %td=@na_sum
        %td=' mg'
    %tr
        %td='Wapń: '
        %td=@ca_sum
        %td=' mg'
    %tr
        %td='Żelazo: '
        %td=@fe_sum
        %td=' mg'
