%table{class:'table table-sm'}    
    - if !@a_sum.nil?
        %tr
            %td='Witamina A(RAE): '
            %td=@a_sum
            %td= raw('&#181;g')
    - if !@b1_sum.nil?
        %tr
            %td='Witamina B1: '
            %td=@b1_sum
            %td=' mg'
    - if !@b2_sum.nil?
        %tr
            %td='Witamina B2: '
            %td=@b2_sum
            %td=' mg'
    - if !@b3_sum.nil?
        %tr
            %td='Witamina B3: '
            %td=@b3_sum
            %td=' mg'
    - if !@b4_sum.nil?
        %tr
            %td='Witamina B4: '
            %td=@b4_sum
            %td=' mg'
    - if !@b5_sum.nil?
        %tr
            %td='Witamina B5: '
            %td=@b5_sum
            %td=' mg'
    - if !@b6_sum.nil?
        %tr
            %td='Witamina B6: '
            %td=@b6_sum
            %td=' mg'
    - if !@b9_sum.nil?
        %tr
            %td='Witamina B9: '
            %td=@b9_sum
            %td=raw('&#181;g')
    - if !@b12_sum.nil?
        %tr
            %td='Witamina B12: '
            %td=@b12_sum
            %td=raw('&#181;g')
    - if !@c_sum.nil?
        %tr
            %td='Witamina C: '
            %td=@c_sum
            %td=' mg'
    - if !@d_sum.nil?
        %tr
            %td='Witamina D: '
            %td=@d_sum
            %td=raw('&#181;g')
    - if !@e_sum.nil?
        %tr
            %td='Witamina E: '
            %td=@e_sum
            %td=' mg'
    - if !@h_sum.nil?
        %tr
            %td='Witamina H: '
            %td=@h_sum
            %td=raw('&#181;g')
    - if !@vitk_sum.nil?
        %tr
            %td='Witamina K: '
            %td=@vitk_sum
            %td=raw('&#181;g')
    - if !@cl_sum.nil?
        %tr
            %td='Chlor: '
            %td=@cl_sum
            %td=' mg'
    - if !@zn_sum.nil?
        %tr
            %td='Cynk: '
            %td=@zn_sum
            %td=' mg'
    - if !@f_sum.nil?
        %tr
            %td='Fluor: '
            %td=@f_sum
            %td=raw('&#181;g')
    - if !@p_sum.nil?
        %tr
            %td='Fosfor: '
            %td=@p_sum
            %td=' mg'
    - if !@i_sum.nil?
        %tr
            %td='Jod: '
            %td=@i_sum
            %td=raw('&#181;g')
    - if !@mg_sum.nil?
        %tr
            %td='Magnez: '
            %td=@mg_sum
            %td=' mg'
    - if !@cu_sum.nil?
        %tr
            %td='Miedź: '
            %td=@cu_sum
            %td=' mg'
    - if !@k_sum.nil?
        %tr
            %td='Potas: '
            %td=@k_sum
            %td=' mg'
    - if !@se_sum.nil?
        %tr
            %td='Selen: '
            %td=@se_sum
            %td=raw('&#181;g')
    - if !@na_sum.nil?
        %tr
            %td='Sód: '
            %td=@na_sum
            %td=' mg'
    - if !@ca_sum.nil?
        %tr
            %td='Wapń: '
            %td=@ca_sum
            %td=' mg'
    - if !@fe_sum.nil?
        %tr
            %td='Żelazo: '
            %td=@fe_sum
            %td=' mg'
