%div{class:'alert alert-success', role:'alert'}
    A simple success alert—check it out!'
%div{class:'alert alert-danger', role:'alert'}
    A simple danger alert—check it out!'
    
%form{action:'/login', method:'post'}
    %div{class:'form-group row'}
        %label{for:'email', class:'col-sm-4 col-form-label'}='Adres e-mail'
        %div{class:'col-sm-8'}
            %input{name:"email", type:'text', class:'form-control'}
    %div{class:'form-group row'}
        %label{for:'password', class:'col-sm-4 col-form-label'}='Hasło'
        %div{class:'col-sm-8'}
            %input{name:'password', type:'password', class:'form-control'}
    %div
        %input{class: 'btn-form', type:'submit', value:'Zarejestruj'}
%div
    %button{class:'btn-form btn-link-form', type:'button'}='Reset hasła'
