#success{class:'alert alert-success', role:'alert', style:'display:none'}='Gratuluję zalogowano poprawnie!'
#error{class:'alert alert-danger', role:'alert', style:'display:none'}='Login lub hasło nieprawidłowe'
    
%form{id:'login-form', action:'/login', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
    %div{class:'form-group row'}
        %label{for:'email', class:'col-sm-4 col-form-label'}='Login'
        %div{class:'col-sm-8'}
            %input{name:"email", type:'text', class:'form-control'}
    %div{class:'form-group row'}
        %label{for:'password', class:'col-sm-4 col-form-label'}='Hasło'
        %div{class:'col-sm-8'}
            %input{name:'password', type:'password', class:'form-control'}
    %div
        %input{class: 'btn-form', type:'submit', value:'Zaloguj się'}
%div
    %button{class:'btn-form btn-link-form', type:'button', style:'display:none'}='Reset hasła'
