#success{class:'alert alert-success', role:'alert', style:'display:none'}= 'Gratulacje! Zarejestrowałeś się w aplikacji!'
#error{class:'alert alert-danger', role:'alert', style:'display:none'}= 'Użytkownik o takim adresie email już istnieje.'

%form{id:'register-form', action:'/register', method:'post', 'data-remote' => 'true'}
    %input{name: 'authenticity_token',type:'hidden', value:"#{form_authenticity_token}"}
    %div{class:'form-group row'}    
        %label{for:'email', class:'col-sm-4 col-form-label'}='Adres e-mail'
        %div{class:'col-sm-8'}
            %input{name:"email", type:'text', class:'form-control'}
    %div{class:'form-group row'}
        %label{for:'password', class:'col-sm-4 col-form-label'}='Hasło'
        %div{class:'col-sm-8'}
            %input{name:'password', type:'password', class:'form-control'}
    %div{class:'form-group row'} 
        %label{for:'confirm_password', class:'col-sm-4 col-form-label'}='Powtórz hasło'    
        %div{class:'col-sm-8'}    
            %input{name:'confirm_password', type:'password', class:'form-control'}
    %div
        %input{class:'btn-form', type:'submit', value:'Zarejestruj'}