#about
    %p='1. '
    %span='Niniejsza aplikacja ma na celu pomoc w prawidłowym bilansowaniu codziennej diety oraz osiągnięciu celów wagowych.'
    %p='2. '
    %span='Aplikacja nie jest wyrobem medycznym i nie zastąpi konsultacji z lekarzem.'
    %p='3. '
    %span='Aplikacja jest przeznaczona dla osób dorosłych nie cierpiących na schorzenia przewlekłe.'
    %p='4. '
    %span='Jeśli chorujesz na choroby, mogące zmieniać zapotrzebowania na składniki odżywcze lub wpływające na metabolizm wskazana może być konsultacja z dietetykiem celem ustalenia odpowiedniego sposobu żywienia.'
