%div{class:'modal', id:'globalModal', tabindex:'-1', role:'dialog', aria-labelledby:'globalModalLabel' aria-hidden:'true'}
  %div{class:'modal-dialog'}
    %div{class:'modal-content'}
      %div{class:'modal-header'}
        %button{type:'button', class:'close', data-dismiss:'modal'}
          %span{aria-hidden:'true'}='&times;'
          %span{class:'sr-only'}='Close'
        %h4{class:'modal-title', id:'globalModalLabel'}
          = yield :title if content_for? :title = '&nbsp;'
      
      = yield
