%div{class:'modal fade', tabindex:'-1', role:'dialog', 'data-backdrop' => 'static'}
   - size_class = ''
   - size_class = 'modal-lg' if params['size'] == 'lg'
   %div{class:"modal-dialog #{size_class}", role:'document'}
      %div{class:'modal-content'}
         #modal-header
            %button{class:'btn-close'}
               %i{class:'fas fa-times'}
            #modal-title

         #modal-body{class:'modal-body'}

