%div{class:'modal fade', tabindex:'-1', role:'dialog', 'data-backdrop' => 'static'}
   %div{class:'modal-dialog', role:'document'}
      %div{class:'modal-content'}
         #modal-header        
            %button{class:'btn-close'}
               %i{class:'fas fa-times'}
            #modal-title          
         
         #modal-body{class:'modal-body'}

