%div{class:'modal fade modal-global', tabindex:"-1", role:"dialog"}
   %div{class:"modal-dialog", role:"document"}
      %div{class:'modal-content'}
         #modal-header{class:'modal-header'}
            %h3{id:'modal-title', class:'modal-title'}
            %button{class:'btn'}='Close'

         
         #modal-body{class:'modal-body'}

