%div{class:'modal fade modal-global', tabindex:"-1", role:"dialog"}
   %div{class:"modal-dialog", role:"document"}
      %div{class:'modal-content'}
         #modal-header        
            %button{class:'btn-close'}
               %i{class:'fas fa-times'}
            #modal-title{class:'modal-title'}          
         
         #modal-body{class:'modal-body'}

