$("#modal-holder").html(" #{ escape_javascript(render 'modal/modal') }");
$("#modal-title").html(" #{ params['title'] }");
$("#modal-body").html(" #{ escape_javascript(render params['body']) }");
$(".modal").modal('show');
$(".btn-close").click(function () {
if(confirm("Czy na pewno chcesz zamknąć to okno?"))
$(".modal").modal('hide');
});
$(document).on('ajax:success',function(event){
var xhr = event.detail[2];
if(xhr.responseText == "success")
$("#success").css("display","block");
else if(xhr.responseText == "error")
$("#error").css("display","block");
else if(xhr.responseText.search('modal')<0){
$("#error").html(xhr.responseText);
$("#error").css("display","block");
}
});

