$("#modal-holder").html(" #{ escape_javascript(render 'modal/modal') }");
$("#modal-title").html(" #{ params['title'] }");
$("#modal-body").html(" #{ escape_javascript(render params['body']) }");
$(".modal").modal('handleUpdate');
$(".modal").modal('show');
$(".btn-close").click(function () {
if(confirm("Czy na pewno chcesz zamknąć to okno?"))
$(".modal").modal('hide');
});
